* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #ffffff;
}
p{
  color: #fff;
}
body{
  line-height: 1.6;
  background-color: #000000;
  font-family: 'Roboto';
}
h1,h2{
  font-weight: 80;
  line-height: 1.2;
  margin: 10px 0;
  color: #FFF2F2;
}
img{
  width: 100%;
}

ul{
  list-style-type: none;
}
.content1{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size: 1.25rem;
  min-height: 50vw;
}
.content9{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size: 1.25rem;
  min-height: 50vw;
}
.content9 .SV h1{
  padding-left: 5vw;
  color: #000;
}
.content9 .SV p{
  padding-left: 5vw;
  color:black;
}
.content2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
}
.content1 .about-us h1{
  padding-left: 5vw;
  color: #000;
}
.content1 .about-us p{
  padding-left: 5vw;
  color:black;
}
.content2 .compliance p{
  color: #ffffff;
}

/*SCROLL BAR*/
.scroll-progress{
  position: fixed;
  height: 1vh;
  width:100%;
  top:0;
  z-index:200;
}
.scroll-progress .filled{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right,#43cea2, #185a9d);
}
/*NAVBAR*/
.container{
  max-width: 1200px;
  overflow:auto;
  padding: 0 30px;
  margin: 0 auto;
  font-family: 'Roboto';
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;    
  height: 100%;
}

.nav-bar{
  background-color: #EB1D36;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.4s;
}
#glass{
  transition: transform 0.4s;
}
.nav-bar a:hover{
  border-bottom: 2px white solid;}


/* BACK TO TOP BUTTON*/
#back-to-top{
  position: fixed;
  bottom: 10px;
  right:10px;
  width: auto;
  z-index: 200;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-12:disabled {
  cursor: default;
}
.btn-12:-moz-focusring {
  outline: auto;
}
.btn-12 svg {
  display: block;
  vertical-align: middle;
}
.btn-12 [hidden] {
  display: none;
}
.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 1rem 1rem;
  position: relative;
}
.btn-12 span {
  mix-blend-mode: difference;
}
.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}
.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}
.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
/*CALL BUTTON*/
.locate h3{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
}
.locate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: auto;
}
.btn-88,
.btn-88 *,
.btn-88 :after,
.btn-88 :before,
.btn-88:after,
.btn-88:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-88 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-88:disabled {
  cursor: default;
}
.btn-88:-moz-focusring {
  outline: auto;
}
.btn-88 svg {
  display: block;
  vertical-align: middle;
}
.btn-88 [hidden] {
  display: none;
}
.btn-88 {
  background: none;
  border: 5px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 150px;
  -webkit-mask-image: none;
  padding: 15px;
  position: relative;
  text-transform: uppercase;
  width: 150px;
}
.btn-88 svg {
  fill: #000;
  position: relative;
  z-index: 1;
}
.btn-88:hover svg {
  fill: #fff;
}
.btn-88:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  inset: 4px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  transform: scale(1);
  transition: 0.5s;
}
.btn-88:hover:before {
  opacity: 0;
  transform: scale(4);
}
/*BUTTON LOCATE*/
.btn-89,
.btn-89 *,
.btn-89 :after,
.btn-89 :before,
.btn-89:after,
.btn-89:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-89 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-89:disabled {
  cursor: default;
}
.btn-89:-moz-focusring {
  outline: auto;
}
.btn-89 svg {
  vertical-align: middle;
}
.btn-89 [hidden] {
  display: none;
}
.btn-89 {
  background: none;
  border: 2px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 150px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  width: 150px;
}
.btn-89:hover {
  -webkit-animation: pulse 0.6s;
  animation: pulse 0.6s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
.btn-89 svg {
  --size: 50px;
  fill: #000;
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
.btn-89:before {
  background: #fff;
  border-radius: 50%;
  content: "";
  inset: 2px;
  position: absolute;
}
.btn-89:hover svg,
.btn-89:hover:before {
  -webkit-animation: move 0.5s;
  animation: move 0.5s;
}
@-webkit-keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  51% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  51% {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}


/*DESKTOP*/
.nav-bar .flex{
  display: flex;
  justify-content: space-between;
}
.nav-bar #myLinks {
  display: block;
}
.nav-bar a.icon {
  background: #EB1D36;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.content1{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  font-size: 1.25rem;
  min-height: 50vw;
}

.upper{
  position: relative;
  min-height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #000;
}
.upper1{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width:75vw;
  min-height: 60vh;
}
.upper .aa{
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper .a{
  min-width:85vw;
}
.a{
  font-family: 'roboto', sans-serif;
  font-size: 1.7rem;
  text-align: center;
  font-style: bold;
  color:#fff;
}
.SV{
  position: relative;
  max-width: 80vw;
  font-size: 1.5rem;
  min-height:50vh;
  background-color: #F5EDDC;
}
.about-us{
  position: relative;
  max-width: 80vw;
  font-size: 1.5rem;
  min-height:50vh;
}
.nav-bar a{
  padding: 10px;
  margin: 0 5px;
  font-size: 20px;
}
.nav-bar ul{
  display: flex;
}
.fa-angle-double-up{
  font-size:2vw;
}
/* FOOTER */
footer{
  background: #EB1D36;
  height: auto;
  font-family: 'Roboto';
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  min-height: 15vh;
}

.footer-content h1{
  font-weight: 80;
  line-height: 1.2;
  margin-bottom: 2px;
  padding: 0;
}

.footer-content p{
  margin-top: 0.1vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.social-links{
  min-width: 75vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.social-links a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #EB1D36;
  text-align: center;
}

@media only screen and (min-width:1000px) {
  .content1{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Pattambi_Palam.jpg/1200px-Pattambi_Palam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
  .content9{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Pattambi_Town1.jpg/1280px-Pattambi_Town1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content9 .SV{
    background-color: #fff;
    opacity: 0.9;
  }
  .footer-content .size{
    font-size:30px;
  }
  .footer-content{
    z-index: 100;
  }
  .content1 .about-us{
    background-color: #fff;
    opacity:0.9;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer1{
    width: 80vw;
  }
  #myLinks a{
    padding:7px 20px;
  }
  .slide-container{
    background-color: #F5EDDC;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
  .react-slideshow-container{
    max-width: 79vw;
  }
  .each-fade{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-slideshow-container h1{
    font-family: 'Roboto','sans-serif';
    font-weight: 80;
    line-height: 1.2;
    font-size: 2em;
    color: #000;
  }
  .react-slideshow-container p{
    font-family: 'Roboto','sans-serif';
    font-size: 1.5rem;
    color: #000;
  }
  .slide-container .i1{
    background-image: url("https://wallpapers.com/images/high/comic-supergirl-in-outer-space-j1w0j9558zjy7ze0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80vh;
  }
  .i2{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/450/920/892/comics-comic-books-comic-art-comic-girls-mystique-hd-wallpaper-thumb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80vh;
  }
  .i3{
    background-image: url("https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1565376474186-3E63J2J8W93PD3EQ21AS/image-asset.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80vh;
  }
  .i4{
    background-image: url("https://nerdist.com/wp-content/uploads/2017/11/Marvel-Multiple-Man.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:80vh;
  }
  .opa{
    background-color: #ffffff;
    opacity: 0.9;
  }
  .opa h1{
    font-size: 3rem;
    font-weight: 300;
  }
  .content10{
    background-color: #f5e7c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content10 .slide h1{
    color: #000;
    text-align: center;
    font-size: 4rem;
  }
  /*HERO IMAGE SAMPLE*/
  .sample .s1{
    position: fixed;
    min-width: 10vw;
    min-height: 100vh;
    left: 0;
    top:0;
    z-index:75;
    background-color: #f5e7c8;
  }
  .sample .s2{
    position: fixed;
    min-width: 10vw;
    min-height: 100vh;
    top: 0;
    right:0;
    z-index:75;
    background-color: #f5e7c8;
  }
}

/* MOBILE */
@media only screen and (max-width: 699px) {
  .hidden-nav{
    transform: translateY(-200px);
  }
  .upper1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width:85vw;
  }
  .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fa-bars{
    font-size:30px;
  }
  .fa-angle-double-up{
    font-size: 7vw;
  }
  .nav-bar #myLinks {
    display: none;
  }
  .nav-bar a.icon {
    background: #EB1D36;
    display: block;
    position: absolute;
    right: 0;
    top: 2vh;
    border: 0;
  }
  h1,h2{
    font-size: 2.5rem;
    font-weight: 80;
    line-height: 1.2;
    margin: 10px 0;
    color: #FFF2F2;
  }
  .upper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  .nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-bar .flex{
    min-height: 10vh;
  }
  .nav-bar h1{
    padding: 0;
    margin: 0;
  }

  .nav-bar a{
    padding: 0.1vw;
    margin: 0 5px;
    font-size: 4vw;
    margin: 0 4vw;
  }
  .container{
    min-height: 100px;
    overflow:auto;
    padding: 0 30px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
  }
  .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;    
  }

  .content1 .about-us p{
    padding: 0;
    line-height: 1.6;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
  }
  .content1{
    background-color: #F5EDDC;
  }
  .content1 .about-us h1{
    color: rgb(0, 0, 0);
    padding: 0;
  }
  .content{
    background-color: #F5EDDC;
  }
  .footer-content h1{
    font-size: 35px;
  }
  .footer-content{
    min-height: 150px;
    max-width: 95vw;
    z-index: 100;
  }
  .footer-content ul{
    max-width: 60vw;
  }
  .footer-content .size{
    font-size:30px;
  }
  .about-us{
    min-width: 90vw;
    font-size: 1.5rem;
  }
  .nav-bar{
    z-index: 100;
  }
  .SV{
    min-width: 90vw;
  }
  .content9{
    background-color: #F5EDDC;
  }
  .content9 .SV h1{
    padding-left: 0;
  }
  .content9 .SV p{
    padding-left: 0;
  }
  .slide-container{
    background-color: #F5EDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-slideshow-container{
    max-width: 70vw;
  }
  .each-fade{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-slideshow-container h1{
    font-family: 'Roboto','sans-serif';
    font-weight: 80;
    line-height: 1.2;
    font-size: 2em;
    color: #000;
  }
  .react-slideshow-container p{
    font-family: 'Roboto','sans-serif';
    font-size: 1.5rem;
    color: #000;
  }
  .content10{
    background-color: #F5EDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content10 .slide h1{
    color: #000;
    text-align: center;
    font-size: 3.5rem;
  }
  
}
/*TABLETS*/

@media only screen and (max-width: 1000px) and (min-width: 700px) {
  .hidden-nav{
    transform: translateY(-200px);
  }
  .nav-bar #myLinks {
    display: none;
  }
  .nav-bar a.icon {
    background: #EB1D36;
    display: block;
    position: absolute;
    right: 0;
    top: 25px;
    border: 0;
  }
  .fa-bars{
    font-size:40px;
  }
  .fa-angle-double-up{
    font-size:3vw;
  }
  h1,h2{
    font-size: 3rem;
    font-weight: 80;
    line-height: 1.2;
    margin: 10px 0;
    color: #FFF2F2;
  }
  .upper{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content1{
    background-color: #F5EDDC;
  }
  .content1 .about-us p{
    color:rgb(0, 0, 0);
  }
  .content1 .about-us h1{
    color: rgb(0, 0, 0);
  }
  .about-us{
    min-width: 90vw;
    font-size: 1.5rem;
  }
  
  .nav-bar .flex{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 50px;
  }
  .nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .nav-bar a{
    padding: 0.1vw;
    margin: 0 5px;
    font-size: 150%;
    margin: 0 3rem;
  }
  .container{
    min-height: 100px;
    overflow:auto;
    padding: 0 30px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }
  .locate{
    padding: 20px 0;
  }
  .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    min-height: 75vh;
  }
  .footer-content{
    z-index: 100;
  }
  .footer-content .size{
    font-size:30px;
  }
  .footer-content h1{
    font-size: 35px;
  }
  .footer-content .social-link{
    width: 200px;
  }
  .upper1{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width:85vw;
  }
  .content9{
    background-color: #F5EDDC;
  }
  .SV{
    min-width: 90vw;
  }
  .slide-container{
    background-color: #F5EDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-slideshow-container{
    max-width: 90vw;
    text-align: center;
  }
  .each-fade{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .react-slideshow-container h1{
    font-family: 'Roboto','sans-serif';
    font-weight: 80;
    line-height: 1.2;
    font-size: 2em;
    color: #000;
  }
  .react-slideshow-container p{
    font-family: 'Roboto','sans-serif';
    font-size: 1.5rem;
    color: #000;
  }
  .slide-container .i1{
    background-image: url("https://www.mandatory.com/assets/uploads/2015/12/Supergirl-Comic-Featured.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:75vh;
  }
  .i2{
    background-image: url("https://c4.wallpaperflare.com/wallpaper/450/920/892/comics-comic-books-comic-art-comic-girls-mystique-hd-wallpaper-thumb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:75vh;
  }
  .i3{
    background-image: url("https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1565376474186-3E63J2J8W93PD3EQ21AS/image-asset.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:75vh;
  }
  .i4{
    background-image: url("https://nerdist.com/wp-content/uploads/2017/11/Marvel-Multiple-Man.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:75vh;
  }
  .opa{
    background-color: #ffffff;
    opacity: 0.8;
  }
  .opa h1{
    font-size: 3rem;
    font-weight: 300;
  }
  .content10 .slide h1{
    text-align: center;
    font-size: 4rem;
  }
  .content10{
    background-color: #F5EDDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content10 .slide h1{
    color: #000;
    text-align: center;
    font-size: 4rem;
  }
}
